@import "variables";

.first-screen {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;

  position: relative;

  overflow: hidden; /*for Edge, IE*/

  .main-title {
    max-width: 658px;
    margin-top: 0;
    margin-bottom: 24px;

    font-family: "Montserrat Black", Arial, sans-serif;
    font-size: 52px;
    line-height: 63px;
    color: #ffffff;
    text-transform: uppercase;
  }

  .main-description {
    max-width: 530px;
    margin-top: 0;

    font-family: "Montserrat Regular", Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
}

.bg-video {
  min-width: 100%;
  min-height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -100;

  transform: translate(-50%, -50%);

  overflow: hidden;

  video {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
  }
}

.flex-text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  text-align: center;
}

.scroll-btn {
  width: 100%;
  height: 80px;
  border: none;

  position: absolute;
  bottom: 0;
  left: 0;

  background-color: transparent;
  cursor: pointer;

  &:hover {
    svg {
      animation-name: down-up;
      animation-duration: 0.8s;
    }
  }
}

.page-section {
  padding-top: 120px;
}

.main-title {
  max-width: 570px;
  margin-top: 0;
  margin-bottom: 24px;

  font-family: "Montserrat Black", Arial, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  color: @text-color-main;
}

.main-subtitle {
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 16px;

  font-family: "Montserrat ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  color: @main-color;
  text-transform: uppercase;
}

.main-description {
  max-width: 570px;
  margin-top: 0;
  margin-bottom: 16px;
  padding: 0;

  font-family: "Montserrat Regular", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: @text-color-main;
  list-style: none;
}

.simple-text {
  margin-top: 16px;
  margin-bottom: 0;

  font-family: "Montserrat Regular", Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: @text-color-main;

  li {
    margin-bottom: 8px;
  }
}

.media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px -16px 8px -16px;
  padding: 0;

  list-style: none;

  &-item {
    width: 50%;
    padding: 0 16px;
    margin-bottom: 24px;

    .card {
      display: block;
      height: 100%;

      text-decoration: none;
    }
  }

  .simple-text {
    max-width: 554px;

    line-height: 24px;
    color: #838E99;
  }
}

.activity {
  @height: 469px;

  display: flex;
  min-height: @height;
  padding: 0;
  margin-top: 120px;

  position: relative;

  background-color: @bg-color;

  &-text,
  &-picture {
    max-width: 50%;
    flex-grow: 1;
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /*for IE*/
    padding: 16px 16px 16px 0;
  }

  &-picture {
    min-height: @height;
    height: 100%;
    width: 50%;

    position: absolute;
    top: 0;
    right: 0;

    overflow: hidden;

    figure {
      margin: 0;
    }

    img {
      max-width: none;
      width: auto;
      height: auto;
      min-height: 100%;
      min-width: 100%;

      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }

    .container {
      height: 100%; /*for IE*/
    }
  }

  .simple-text {
    max-width: 554px;

    line-height: 24px;
    color: #838E99;
  }
}

.text-bigger {
  margin-top: 24px;
  margin-bottom: 16px;

  font-family: "Montserrat Regular", Arial, sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: @text-color-main;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 64px;
  padding-left: 0;
  margin: 0 -16.5px;

  list-style: none;

  &-item {
    width: 33.3%;
    padding: 0 16.5px 0 36.5px;

    section {
      height: 100%;
      padding: 32px 17px 50px 24px;

      position: relative;

      background-color: #f8f8f8;
    }

    .main-subtitle,
    .simple-text {
      position: relative;
      z-index: 1;
    }
  }
}

.feature-bg {
  position: absolute;
  top: -18px;
  left: -20px;

  font-family: "Montserrat Bold", "Arial", sans-serif;
  font-size: 251px;
  line-height: 180px;
  color: #EFEFEF;
  user-select: none;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 60px;

  &-form {
    min-width: 821px;
    margin-right: 32px;

    noscript {
      .button {
        margin-top: 24px;
      }

    }
  }

  &-result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 526px;

    .button {
      margin-top: auto;
    }

    noscript {
      font-family: "Montserrat Regular", "Arial", sans-serif;
      font-size: 24px;
      line-height: 45px;
      color: @text-color-main;
    }
  }
}

.results-list {
  margin-top: 0;
  padding: 0;

  font-family: "Montserrat Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 45px;
  color: @text-color-main;

  list-style: none;
}

.suggestion-elem {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 12px;
  border: none;

  vertical-align: -15%;

  &:hover,
  &:focus {
    path:first-child {
      fill: @main-color;
    }
  }
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px -16px 8px -16px;
  padding: 0;

  list-style: none;

  &-item {
    width: 33.3%;
    padding: 0 16px;
    margin-bottom: 24px;

    .card {
      height: 100%;
    }

    &.hide {
      height: 0;
      margin-bottom: 0;

      visibility: hidden;
      opacity: 0;

      transition:
              visibility 500ms,
              opacity 500ms;
    }

    &.show {
      height: auto;
      margin-bottom: 24px;

      visibility: visible;
      opacity: 1;
    }
  }
}

.request-form {
  width: 821px;
  margin: 0 auto 24px;

  &:hover {
    box-shadow: none;
  }

  .main-subtitle {
    margin-bottom: 24px;
  }
}

.success-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@import "responsive/main";