@media (min-width: 576px) {
  .container {
    max-width: 656px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 825px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1008px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1360px;
  }
}