@media (max-width: 992px) {
  .navbar {
    .toggler {
      display: block;
    }
  }

  .nav-list {
    display: none;
    height: 0;

    &.show {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      width: 100%;

      transition: all 200ms;
    }
  }

  .nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}